@use 'theme';
@use '@angular/material' as mat;

:host {
    display: block;

    padding: 32px 32px 32px 228px;
}

.sidebar {
    position: fixed;
    left: 32px;
    top: 32px;
    width: 180px;
    padding: 4px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .image {
        color: mat.m2-get-color-from-palette(theme.$portfolio-primary, "darker");
    }

    .active {
        color: mat.m2-get-color-from-palette(theme.$portfolio-primary, "default");
    }
}

.content {
    padding: 32px 0px;
    overflow-y: auto;
    overflow-x: hidden;
}