
<mat-tab-group>
    <mat-tab label="Posição atual">
        <div class="container">
            <ng-template #posicaoFechada>
                Atualmente sem posição aberta.
            </ng-template>

            <div class="posicao-atual" *ngIf="quantidadeAtual; else posicaoFechada">
                <div>
                    <label>Quantidade</label>
                    <div>{{quantidadeAtual || 0 | number}}</div>
                </div>

                <div>
                    <label>Preço médio</label>
                    <div>{{precoMedioContabil | currency}}</div>
                </div>
                <div>
                    <label>Preço médio ajustado</label>
                    <div>{{precoMedio | currency}}</div>
                </div>
                <div>
                    <label>Preço mercado</label>
                    <div>{{ativo.precoMercado || 0 | currency}}</div>
                </div>
                <div>
                    <label>Valor investido (histórico)</label>
                    <div>{{quantidadeAtual * precoMedioContabil | currency}}</div>
                </div>
                <div>
                    <label>Dividendos/JCP</label>
                    <div>{{quantidadeAtual * (precoMedioContabil - precoMedio) | currency}}</div>
                </div>
                <div>
                    <label>Valor liquido investido</label>
                    <div>{{quantidadeAtual * precoMedio | currency}}</div>
                </div>
                <div>
                    <label>Valor de mercado</label>
                    <div>{{ativo.precoMercado * quantidadeAtual || 0 | currency}}</div>
                </div>
                <div>
                    <label>Resultado financeiro</label>
                    <div [class.prejuizo]="ativo.precoMercado * quantidadeAtual - quantidadeAtual * precoMedio < 0"
                            [class.lucro]="ativo.precoMercado * quantidadeAtual - quantidadeAtual * precoMedio > 0">
                        {{ativo.precoMercado * quantidadeAtual - quantidadeAtual * precoMedio | currency}}
                    </div>
                </div>
                <div>
                    <label>Resultado contábil</label>
                    <div [class.prejuizo]="ativo.precoMercado * quantidadeAtual - custoContabil < 0"
                            [class.lucro]="ativo.precoMercado * quantidadeAtual - custoContabil > 0">
                        {{ativo.precoMercado * quantidadeAtual - custoContabil | currency}}
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Operações fechadas" *ngIf="operacoesFechadas?.length">
        <mat-table [dataSource]="operacoesFechadas" class="operacoes-fechadas">
            <ng-container matColumnDef="data">
                <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
                <mat-cell *matCellDef="let operacao">
                    {{operacao.data | date:'shortDate'}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="precoVenda">
                <mat-header-cell *matHeaderCellDef>Preço venda</mat-header-cell>
                <mat-cell *matCellDef="let operacao" [class.lucro]="operacao.precoVenda > operacao.precoMedioFinanceiro" [class.prejuizo]="operacao.precoVenda < operacao.precoMedioFinanceiro">
                    {{operacao.precoVenda | currency}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="precoMedioContabil">
                <mat-header-cell *matHeaderCellDef>Preço médio contábil</mat-header-cell>
                <mat-cell *matCellDef="let operacao"  [class.lucro]="operacao.precoVenda > operacao.precoMedioContabil" [class.prejuizo]="operacao.precoVenda < operacao.precoMedioContabil">
                    {{operacao.precoMedioContabil | currency}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="precoMedioFinanceiro">
                <mat-header-cell *matHeaderCellDef>Preço médio</mat-header-cell>
                <mat-cell *matCellDef="let operacao" [class.lucro]="operacao.precoVenda > operacao.precoMedioFinanceiro" [class.prejuizo]="operacao.precoVenda < operacao.precoMedioFinanceiro">
                    {{operacao.precoMedioFinanceiro | currency}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
                <mat-cell *matCellDef="let operacao">
                    {{operacao.quantidade | number}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
                <mat-cell *matCellDef="let operacao">
                    {{operacao.valor | currency }}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="resultadoFinanceiro">
                <mat-header-cell *matHeaderCellDef>Resultado</mat-header-cell>
                <mat-cell *matCellDef="let operacao"  [class]="{prejuizo: operacao.resultadoFinanceiro < 0, lucro: operacao.resultadoFinanceiro > 0}">
                    {{operacao.resultadoFinanceiro | currency}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef [class]="{prejuizo: resultadoFinanceiroAcumulado < 0, lucro: resultadoFinanceiroAcumulado > 0}">
                    {{ resultadoFinanceiroAcumulado | currency }}
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="resultadoContabil">
                <mat-header-cell *matHeaderCellDef>Resultado contábil</mat-header-cell>
                <mat-cell *matCellDef="let operacao" [class]="{prejuizo: operacao.resultadoContabil < 0, lucro: operacao.resultadoContabil > 0}">
                    {{operacao.resultadoContabil | currency}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef [class]="{prejuizo: resultadoContabilAcumulado < 0, lucro: resultadoContabilAcumulado > 0}">
                    {{ resultadoContabilAcumulado | currency }}
                </mat-footer-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="colunas; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let transacao; columns: colunas"></mat-row>
            <mat-footer-row *matFooterRowDef="colunas; sticky: true"></mat-footer-row>
        </mat-table>
    </mat-tab>
    <mat-tab label="Histórico de eventos">
        <portfolio-form-evento [ativo]="ativo" (onNovoEvento)="carregaTransacoes()"></portfolio-form-evento>
        <portfolio-ledger [transacoes]="transacoes" [preco-mercado]="ativo.precoMercado" (onDeleteTransacao)="removeTransacao($event)"></portfolio-ledger>
    </mat-tab>
</mat-tab-group>
