@use 'theme';
@use '~@angular/material' as mat;

:host {
    display: block;
}

mat-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;

    .mat-column-valorFinanceiro,
    .mat-column-unitario,
    .mat-column-resultadoFinanceiro,
    .mat-column-resultado,
    .mat-column-pf,
    .mat-column-quantidade {
        justify-content: flex-end;
        text-align: right;
    }

    .mat-column-acoes {
        width: 90px;
        justify-content: flex-end;
    }

    .mat-footer-cell {
        color: mat.get-color-from-palette(theme.$portfolio-primary, "default");
        font-weight: 500;
    }
}