<mat-table [dataSource]="transacoes">
    <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
        <mat-cell *matCellDef="let transacao">
            {{transacao.data | date:'shortDate'}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>Posição atual</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
        <mat-cell *matCellDef="let transacao">
            {{transacao.tipo | tipoEvento}}
            <ng-container [ngSwitch]="transacao.tipo">
                <ng-container *ngSwitchCase="'bonificação'">({{transacao.multiplicador / 100 | percent}})</ng-container>
                <ng-container *ngSwitchCase="'desdobramento'">(1:{{transacao.multiplicador | number}})</ng-container>
                <ng-container *ngSwitchCase="'grupamento'">({{transacao.multiplicador | number}}:1)</ng-container>
            </ng-container>            
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="unitario">
        <mat-header-cell *matHeaderCellDef>Valor unitário</mat-header-cell>
        <mat-cell *matCellDef="let transacao">
            {{transacao.valor | currency:'BRL':'symbol':'1.2-8'}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="quantidade">
        <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
        <mat-cell *matCellDef="let transacao">
            {{transacao.quantidadeTransacao ? (transacao.quantidadeTransacao | number) : '-'}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{quantidadeAtual | number}}</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="valorFinanceiro">
        <mat-header-cell *matHeaderCellDef>Valor financeiro</mat-header-cell>
        <mat-cell *matCellDef="let transacao">
            {{ transacao.valorFinanceiro ? (transacao.valorFinanceiro | currency) : '-'}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{custoLiquido | currency}}</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="valorContabil">
        <mat-header-cell *matHeaderCellDef>Valor contabil</mat-header-cell>
        <mat-cell *matCellDef="let transacao">
            {{transacao.valorContabil ? (transacao.valorContabil | currency) : '-'}}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{custoContabil | currency}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let transacao">
            <button mat-icon-button color="warn" (click)="removeTransacao(transacao)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunas; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let transacao; columns: colunas"></mat-row>
    <mat-footer-row *matFooterRowDef="colunas; sticky: true"></mat-footer-row>
</mat-table>

