@use 'theme';
@use '@angular/material' as mat;

:host {
    display: block;
}

mat-table {
    .mat-mdc-header-cell,
    .mat-mdc-cell,
    .mat-mdc-footer-cell {

        &:not(:first-of-type) {
            padding-left: 8px;
        }
        &:not(:last-of-type) {
            padding-right: 8px;
        }
    }

    .mat-column-empresa > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mat-column-ticker {
        max-width: 80px;
    }

    .mat-column-percentualCarteira {
        max-width: 90px;
    }

    .mat-column-quantidade,
    .mat-column-precoMedio,
    .mat-column-precoMercado,
    .mat-column-resultado,
    .mat-column-posicao,
    .mat-column-percentualCarteira {
        text-align: right;
        justify-content: flex-end;
    }

    .prejuizo {
        color: mat.m2-get-color-from-palette(theme.$portfolio-warn, "default");
    }
    
    .lucro {
        color: mat.m2-get-color-from-palette(theme.$portfolio-primary, "default");
    }

    .mat-column-precoMercado {
        position: relative;
        input {
            position: absolute;
            width: 100%;
            height: 100%;

            text-align: right;
            z-index: 1;

            opacity: 0;

            &:focus {
                opacity: 1;
            }
        }
    }
}

.mat-subtitle-1:not(:first-of-type){
    margin-top: 32px;
}