:host {
    display: block;

    button.mat-mini-fab {
        position: fixed;
        top: 16px;
        right: 32px;
    }

    .fundos-imobiliarios {
        margin-top: 32px;
    }

    mat-expansion-panel mat-panel-title {
        width: 100px;
        max-width: 100px;
    }
}