@use 'theme';
@use '@angular/material' as mat;

:host {
    display: block;
}

mat-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;

    .mat-cell, 
    .mat-header-cell,
    .mat-footer-cell {
        &:not(:last-child) {
            padding-right: 16px;
        }
    }

    .mat-column-valorFinanceiro,
    .mat-column-unitario,
    .mat-column-resultadoFinanceiro,
    .mat-column-resultado,
    .mat-column-pf,
    .mat-column-quantidade,
    .mat-column-retorno, 
    .mat-column-retornoAnual {
        justify-content: flex-end;
        text-align: right;
    }

    .mat-column-acoes {
        max-width: 70px;
        justify-content: flex-end;
    }

    .mat-column-tipo,
    .mat-column-pm {
        min-width: 160px;
    }

    .mat-footer-cell {
        color: mat.get-color-from-palette(theme.$portfolio-primary, "default");
        font-weight: 500;
    }

    .positiva {
        color: mat.get-color-from-palette(theme.$portfolio-primary, "default");
    }
    
    .negativa {
        color: mat.get-color-from-palette(theme.$portfolio-warn, "default");
    }

    .futuro {
        color: mat.get-color-from-palette(theme.$portfolio-accent, "default");
    }
}